<!DOCTYPE html>
<html lang="en">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        p {
            font-family: "Poppins";
            color: white;
        }
        button {
            font-family: "Poppins";
            border-radius: 10px;
            background-color: greenyellow;
        }
    </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: black;">
    <div id="fr">
    <p>Time spent: <span id="helo">0</span> seconds</p>
    <p>Score: <span id="wtf">0</span>/<%= locals.QuestionAmount %> <span id="nah">(0%)</span></p>
  <p>Question: <p id="sure"><%= locals.firstQuestion %></p></p>
  <input type="text" name="lol" id="jk" autofocus>
  <br>
  <p id="alr"></p>
  <button type="button" onclick="lol()" id="noob">Submit</button><br><br><button type="button" id="hpsk" style="display: none;"></button>
  </div>
</body>
<script src="/joker/answers.js"></script>
</html>