<!DOCTYPE html>
<html lang="en">
    <script src=
"https://code.jquery.com/jquery-3.5.1.js">
    </script>
<script>
        function lol() {
     $.getJSON("/clicks/json", 
            function (data) {
                location = location.href
            }
     )
                }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button type="button" name="button" onclick="lol()">Submit</button>
    <p id="lol">clicks: <%= locals.clicks %>
    </p>
</body>

</html>